<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sms.dao.SendQueueDao" >
  <resultMap id="BaseResultMap" type="com.sms.model.SendQueue" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PLAN_ID" property="planId" jdbcType="INTEGER" />
    <result column="MOBILE_PHONE_NUM" property="mobilePhoneNum" jdbcType="VARCHAR" />
    <result column="SMS_CONTENT" property="smsContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PLAN_ID, MOBILE_PHONE_NUM, SMS_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from csr_sms_send_queue
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from csr_sms_send_queue
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sms.model.SendQueue" >
    insert into csr_sms_send_queue (ID, PLAN_ID, MOBILE_PHONE_NUM, 
      SMS_CONTENT)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=INTEGER}, #{mobilePhoneNum,jdbcType=VARCHAR}, 
      #{smsContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sms.model.SendQueue" >
    insert into csr_sms_send_queue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="planId != null" >
        PLAN_ID,
      </if>
      <if test="mobilePhoneNum != null" >
        MOBILE_PHONE_NUM,
      </if>
      <if test="smsContent != null" >
        SMS_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="mobilePhoneNum != null" >
        #{mobilePhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null" >
        #{smsContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sms.model.SendQueue" >
    update csr_sms_send_queue
    <set >
      <if test="planId != null" >
        PLAN_ID = #{planId,jdbcType=INTEGER},
      </if>
      <if test="mobilePhoneNum != null" >
        MOBILE_PHONE_NUM = #{mobilePhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null" >
        SMS_CONTENT = #{smsContent,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sms.model.SendQueue" >
    update csr_sms_send_queue
    set PLAN_ID = #{planId,jdbcType=INTEGER},
      MOBILE_PHONE_NUM = #{mobilePhoneNum,jdbcType=VARCHAR},
      SMS_CONTENT = #{smsContent,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>